circle {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
}

circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

circle:nth-child(2) {
  stroke-dashoffset: calc(250 - (250 * 75) / 100);
  stroke: #0290ff;
}