circle {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
  stroke: #0290ff;
}